.recipe-top {
  background-color: var(--color-bg);
  margin-bottom: 1rem;

  &__header {
    padding: 1rem;
    margin: 0;
  }

  &__image {
    max-height: 60vw;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__meta {
    color: var(--color-muted);
    background-color: var(--color-bg-lighter);
    padding: 0.2rem 0.4rem;
    text-align: right;
    font-size: 0.8rem;
    display: flex;
    justify-content: right;

    > :not(:last-child) {
      margin-right: 0.5rem;

      &::after {
        content: '·';
        opacity: 0.5;
        margin-left: 0.5rem;
      }
    }

    a {
      color: var(--color-muted);
    }
  }
}

@media screen and (min-width: 728px) {
  .recipe-top {
    &__image {
      max-height: 45vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  .recipe-top {
    &__image {
      max-height: 30rem;
    }
  }
}
