---
pagination:
  data: recipes.breakfast
  size: 1
  alias: recipe
permalink: "recipes/breakfast/{{ recipe }}/"
eleventyComputed:
  title: "{{ recipes.breakfast[recipe].title }}"
---
{% set r = recipes.breakfast[recipe] %}
{% set category = "breakfast" %}

{% extends 'page-layouts/recipe.njk' %}
{% block sidebar %}

{% endblock %}
