---
title: Breakfast
permalink: "recipes/breakfast/"
layout: default
---
{% set recipeList = recipes.breakfast %}
{% set category = "breakfast" %}

{% extends 'category-index.njk' %}
{% block header %}Breakfast{% endblock %}
