---
title: Breakfast
permalink: "/recipes/breakfast/"
eleventyNavigation:
  key: Breakfast
  order: 1
---
{% set recipeList = recipes.breakfast %}
{% set category = "breakfast" %}

{% extends 'page-layouts/category-index.njk' %}
{% block header %}Breakfast{% endblock %}
