---
title: Breakfast
permalink: "recipes/breakfast/"
---
{% set recipeList = recipes.breakfast %}
{% set category = "breakfast" %}

{% extends 'page-layouts/category-index.njk' %}
{% block header %}Breakfast{% endblock %}
