---
title: Cocktails
permalink: "recipes/cocktails/"
eleventyNavigation:
  key: Cocktails
  order: 4
---
{% set recipeList = recipes.cocktails %}
{% set category = "cocktails" %}

{% extends 'page-layouts/category-index.njk' %}
{% block header %}Cocktails{% endblock %}
