---
pagination:
  data: recipes.cocktails
  size: 1
  alias: recipe
permalink: "recipes/cocktails/{{ recipe }}/"
eleventyComputed:
  title: "{{ recipes.cocktails[recipe].title }}"
---
{% set r = recipes.cocktails[recipe] %}
{% set category = "cocktails" %}

{% extends 'page-layouts/recipe.njk' %}
{% block sidebar %}

{% endblock %}
