---
title: Cocktails
permalink: "recipes/cocktails/"
layout: default
---
{% set recipeList = recipes.cocktails %}
{% set category = "cocktails" %}

{% extends 'category-index.njk' %}
{% block header %}Cocktails{% endblock %}
