---
pagination:
  data: recipes.desserts
  size: 1
  alias: recipe
permalink: "recipes/desserts/{{ recipe }}/"
eleventyComputed:
  title: "{{ recipes.desserts[recipe].title }}"
---
{% set r = recipes.desserts[recipe] %}
{% set category = "desserts" %}

{% extends 'page-layouts/recipe.njk' %}
{% block sidebar %}

{% endblock %}
