---
title: Desserts
permalink: "recipes/desserts/"
---
{% set recipeList = recipes.desserts %}
{% set category = "desserts" %}

{% extends 'page-layouts/category-index.njk' %}
{% block header %}Desserts{% endblock %}
