---
title: Desserts
permalink: "recipes/desserts/"
layout: default
---

<h2>Desserts</h2>

<ul>
  {% for slug, recipe in recipes.desserts -%}
    <li><a href="/recipes/desserts/{{ slug }}/">{{ recipe.title }}</a></li>
  {%- endfor %}
</ul>
