---
pagination:
  data: recipes.desserts
  size: 1
  alias: recipe
permalink: "recipes/desserts/{{ recipe }}/"
layout: layout-recipe.njk
eleventyComputed:
  title: "{{ recipes.desserts[recipe].title }}"
---
{% set r = recipes.desserts[recipe] %}
{% set category = "desserts" %}

<h2>{{ r.title if r.title else "undefined" }}</h2>

{% include 'recipes/yields.njk' %}
{% include 'recipes/time.njk' %}
{% include 'recipes/ingredients.njk' %}
{% include 'recipes/steps.njk' %}
{% include 'recipes/notes.njk' %}
{% include 'recipes/image-gallery.njk' %}
