---
title: Desserts
permalink: "recipes/desserts/"
layout: default
---
{% set recipeList = recipes.desserts %}
{% set category = "desserts" %}

{% extends 'category-index.njk' %}
{% block header %}Desserts{% endblock %}
