---
pagination:
  data: recipes.dinner
  size: 1
  alias: recipe
permalink: "recipes/dinner/{{ recipe }}/"
layout: default
eleventyComputed:
  title: "{{ recipes.dinner[recipe].title }}"
---
{% set r = recipes.dinner[recipe] %}
{% set category = "dinner" %}

<h2>{{ r.title if r.title else "undefined" }}</h2>

{% extends 'recipe.njk' %}
{% block sidebar %}

{% endblock %}
