---
title: Dinner
permalink: "recipes/dinner/"
layout: default
---
{% set recipeList = recipes.dinner %}
{% set category = "dinner" %}

{% extends 'category-index.njk' %}
{% block header %}Dinner{% endblock %}
