---
title: Dinner
permalink: "recipes/dinner/"
---
{% set recipeList = recipes.dinner %}
{% set category = "dinner" %}

{% extends 'page-layouts/category-index.njk' %}
{% block header %}Dinner{% endblock %}
