---
pagination:
  data: recipes.dinner
  size: 1
  alias: recipe
permalink: "recipes/dinner/{{ recipe }}/"
eleventyComputed:
  title: "{{ recipes.dinner[recipe].title }}"
---
{% set r = recipes.dinner[recipe] %}
{% set category = "dinner" %}

{% extends 'page-layouts/recipe.njk' %}
{% block sidebar %}

{% endblock %}
