---
pagination:
  data: recipes.dinner
  size: 1
  alias: recipe
permalink: "recipes/dinner/{{ recipe }}/"
layout: layout-recipe.njk
---
{% set r = recipes.dinner[recipe] %}
{% set category = "dinner" %}

<h2>{{ r.title if r.title else "undefined" }}</h2>

{% include 'recipes/yields.njk' %}
{% include 'recipes/time.njk' %}
{% include 'recipes/ingredients.njk' %}
{% include 'recipes/steps.njk' %}
{% include 'recipes/notes.njk' %}
{% include 'recipes/image-gallery.njk' %}
