{% if r.ingredients %}
  <div class="ingredients">
    <h3 class="ingredients__header">Ingredients</h3>
    <table class="ingredients__table">
      <thead>
        <tr>
          <th>Qty.</th>
          <th>Item</th>
        </tr>
      </thead>
      <tbody>
        {% for i in r.ingredients -%}
          <tr>
            <td>{{ i.qty }}</td>
            <td>{{ i.item }}</td>
          </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
