{% if r.steps %}
  <div class="steps">
    <h3 class="steps__header">Steps</h3>
    <ol class="steps__list">
    {% for step in r.steps -%}
      <li class="steps__item">{{ step }}</li>
    {%- endfor %}
    </ol>
  </div>
{% endif %}
