{% if r.time %}
  <div class="recipe-time">
    <ul class="recipe-time__list">
      {% if r.time.prep -%}
        <li class="recipe-time__item">Prep: {{ r.time.prep }}</li>
      {%- endif %}
      {% if r.time.cook -%}
        <li class="recipe-time__item">Cook: {{ r.time.cook }}</li>
      {%- endif %}
      {% if r.time.bake -%}
        <li class="recipe-time__item">Bake: {{ r.time.bake }}</li>
      {%- endif %}
      {% if r.time.total -%}
        <li class="recipe-time__item">Total: {{ r.time.total }}</li>
      {%- endif %}
    </ul>
  </div>
{% endif %}
