:root {
  --color-bg-page: #1a1a1a;
  --color-bg-content: #222;
  --color-text: #eee;
  --color-link: rgb(236, 22, 190);
}

html {
  background-color: var(--color-bg-page);
  color: var(--color-text);
}

header {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 1100px;
}

header nav a {
  display: inline-block;
  padding: 0.5rem;
}

#main-content {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1100px;
  background-color: var(--color-bg-content);
}

a {
  color: var(--color-link);
}
