---
title: Birdhouse Recipes
description: Food and drink for birds and furies.
layout: default
---

<h1>Birdhouse Recipes</h1>

<p>Food and drink for birds and furies.</p>

<h2>Recipes</h2>

<h3>Breakfast</h3>

<ul>
  {%- for slug, recipe in recipes.breakfast -%}
    <li><a href="/recipes/breakfast/{{ slug }}">{{ recipe.title }}</a></li>
  {%- endfor -%}
</ul>

<h3>Dinner</h3>

<ul>
  {%- for slug, recipe in recipes.dinner -%}
    <li><a href="/recipes/dinner/{{ slug }}">{{ recipe.title }}</a></li>
  {%- endfor -%}
</ul>

<h3>Desserts</h3>

<ul>
  {%- for slug, recipe in recipes.desserts -%}
    <li><a href="/recipes/desserts/{{ slug }}">{{ recipe.title }}</a></li>
  {%- endfor -%}
</ul>

<h3>Cocktails</h3>

<ul>
  {%- for slug, recipe in recipes.cocktails -%}
    <li><a href="/recipes/cocktails/{{ slug }}">{{ recipe.title }}</a></li>
  {%- endfor -%}
</ul>
