---
title: Birdhouse Recipes
description: Food and drink for birds and furies.
layout: default
---

<div class="home">
  <div class="home__info">
    <p>
      This project is an attempt to first catalog and organize recipes in
      a format that is easy to contribute to and easy to move elsewhere.
    </p>

    <p>
      After organizing a volume of recipes, plans include searching for
      recipes based on ingredients on hand.
    </p>
  </div>

  <h2 class="home__header">Recipes</h2>

  <ul class="home__categories">
    <li class="home__category">
      <a href="{{ '/recipes/breakfast/' | url }}">Breakfast</a>
    </li>
    <li class="home__category">
      <a href="{{ '/recipes/dinner/' | url }}">Dinner</a>
    </li>
    <li class="home__category">
      <a href="{{ '/recipes/desserts/' | url }}">Desserts</a>
    </li>
    <li class="home__category">
      <a href="{{ '/recipes/cocktails/' | url }}">Cocktails</a>
    </li>
  </ul>
</div>
