<footer>
  Copyright © 2023
  <a href="https://github.com/vulcu" target="_blank">Winry Litwa-Vulcu</a> and
  <a href="https://github.com/reiniiriarios" target="_blank">Emma Litwa-Vulcu</a>.
  Distributed under a
  <a href="https://github.com/vulcu/birdhouse-recipes/blob/main/LICENSE" target="_blank">GNU GPL-V3 license</a>.
</footer>
