<header>
  <nav>
    <a href="/">Home</a>
  </nav>
  <div class="settings">
    <label id="theme-toggle">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
</header>
