html {
  background-color: var(--color-bg-darker);
  color: var(--color-text);
}

/* stylelint-disable no-descending-specificity */
a {
  color: var(--color-link);
  position: relative;
  text-decoration: none;
  outline-color: transparent;
  transition: outline-color 0.4s;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid var(--color-link);
    transition: 0.4s;
  }

  &:focus-visible {
    outline: 1px solid var(--color-link);
    outline-offset: -1px;
  }

  &:hover,
  &:focus-visible {
    &::after {
      width: 100%;
    }
  }
}

header {
  margin: 0 auto;
  padding: 0.5rem 0;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    flex-wrap: wrap;

    h1 {
      display: inline-block;
      font-size: 1.5rem;
      margin: 0.5rem 1rem;
      padding: 0;

      a {
        color: var(--color-text);
        text-decoration: none;
      }
    }

    menu {
      margin: 0.5rem 0;
      padding: 0;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        a {
          display: inline-block;
          padding: 0.5rem 1rem;
          text-decoration: none;
          background-color: var(--color-bg);
        }

        li.selected a {
          color: var(--color-text);
          background-color: var(--color-bg-lighter);
        }
      }
    }
  }

  .settings {
    padding: 0 0.5rem;
  }
}
/* stylelint-enable no-descending-specificity */

#main-content {
  margin: 0 auto;
  max-width: 1200px;
}

footer {
  margin: 0 auto 1rem;
  padding: 0.5rem 0;
  max-width: 1200px;
  text-align: center;
}
