@use 'sass:color';

// ------------------ VARIABLES ------------------

$c-white: #fff;
$c-dark-grey: #2a2a2f;
$c-light-grey: #e5e5ea;
$c-medium-grey: #808085;
$c-dark-pink: #c00044;
$c-dark-pink-2: #932b50;
$c-light-pink: #f7a;

// ------------------- THEMES --------------------

@mixin light-mode {
  --theme-name: "Light Mode";
  --color-bg-0: #{$c-white};
  --color-bg-1: #{color.adjust($c-light-grey, $lightness: 5%)};
  --color-bg-2: #{$c-light-grey};
  --color-bg-3: #{color.adjust($c-light-grey, $lightness: -6%)};
  --color-text: #{$c-dark-grey};
  --color-muted: #{$c-medium-grey};
  --color-link: #{$c-dark-pink};
  --color-selection: #{$c-light-pink};
}

@mixin dark-mode {
  --theme-name: "Dark Mode";
  --color-bg-0: #{color.adjust($c-dark-grey, $lightness: -8%)};
  --color-bg-1: #{$c-dark-grey};
  --color-bg-2: #{color.adjust($c-dark-grey, $lightness: 5%)};
  --color-bg-3: #{color.adjust($c-dark-grey, $lightness: 10%)};
  --color-text: #{$c-light-grey};
  --color-muted: #{$c-medium-grey};
  --color-link: #{$c-light-pink};
  --color-selection: #{$c-dark-pink-2};
}

// -------------- QUERIES FOR ROOT ---------------


:root {
  @include light-mode;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}

@media print {
  :root {
    @include light-mode;

    --color-bg-0: #fff;
    --color-bg-1: #fff;
    --color-bg-2: #fff;
    --color-bg-3: #fff;
    --color-text: #000;
    --color-link: #704;
  }
}

// ------------------- TOGGLES -------------------

[data-theme="light"] {
  @include light-mode;
}

@media (prefers-color-scheme: dark) {
  :not([data-theme="light"]) {
    @include dark-mode;
  }
}

[data-theme="dark"] {
  @include dark-mode;
}

// ------------------- SWITCH --------------------

@keyframes theme-toggle-anim {
  0% {
    transform: rotate(0deg);
    margin-right: 0.5rem;
  }
  
  100% {
    transform: rotate(180deg);
    margin-right: -0.5rem;
  }
}

@keyframes theme-toggle-anim-back {
  0% {
    transform: rotate(180deg);
    margin-right: -0.5rem;
  }
  
  100% {
    transform: rotate(0deg);
    margin-right: 0.5rem;
  }
}

#theme-toggle {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input[type="checkbox"] {
    height: 2rem;
    width: 2rem;
    border-radius: 3rem;
    appearance: none;
    background-color: var(--color-text);
    outline: none;
    cursor: pointer;
    transition: .3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--color-bg-0);
      border-radius: 5rem;
      transition: .3s;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: var(--color-text);
      width: 0.5rem;
      height: 1rem;
      margin-right: 0.5rem;
      transform: rotate(0deg);
      border-top-left-radius: 6.25rem;
      border-bottom-left-radius: 6.25rem;
      border-right: 0;
      transition: .4s border-radius;
      animation: theme-toggle-anim-back .4s;
    }

    &:checked {
      &::after {
        content: "";
        animation: theme-toggle-anim .4s;
        position: absolute;
        transform: rotate(-180deg);
        width: 0.5rem;
        height: 1rem;
        margin-right: -0.5rem;
      }
    }

    &:hover {
      box-shadow: 0 0.125rem 0.75rem 0.25rem rgba(0 0 0 / 12.5%);
    }
  }
}
