html {
  background-color: var(--color-bg-darker);
  color: var(--color-text);
}

a {
  color: var(--color-link);
}

header {
  margin: 0 auto;
  padding: 0.5rem 0;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;

  nav {
    h1 {
      display: inline-block;
      font-size: 1.5rem;
      margin: 0 1rem 0 0;
      padding: 0;
    }

    a {
      display: inline-block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      background-color: var(--color-bg);
    }
  }

  .settings {
    padding: 0 0.5rem;
  }
}

#main-content {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1100px;
  background-color: var(--color-bg);

  h2:first-child {
    margin-top: 0;
  }
}

footer {
  margin: 0 auto 1rem;
  padding: 0.5rem 0;
  max-width: 1100px;
  text-align: center;
}
