html {
  background-color: var(--color-bg-darker);
  color: var(--color-text);
}

header {
  margin: 0 auto;
  padding: 0.5rem 0;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;

  nav {
    a {
      display: inline-block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      background-color: var(--color-bg);
    }
  }

  .settings {
    padding: 0 0.5rem;
  }
}

#main-content {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1100px;
  background-color: var(--color-bg);
}

footer {
  margin: 0 auto 1rem auto;
  padding: 0.5rem 0;
  max-width: 1100px;
  text-align: center;
}

a {
  color: var(--color-link);
}

h1 {
  margin-top: 0;
}
